body{
    color: #333;
    background: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera{
    color: white;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    padding: 0.5em 0 0.5em 0.5em;
    background-color: darkcyan;
}

#cabecera #logo{
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}

li{
    float: right;    
}

#Titulo{
    display: block;
    text-align: center;    
    float: left;
}

li a{
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-right: 0.5em;
}

li a:hover{
    background-color: #111;
}

#container{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

#post{
    background: white;
    padding: 1em;
}